<footer
  style=" display: flex;justify-content: space-between; width: 100%;
    background-color: white;
    padding: 20px;
    box-sizing: border-box;
    z-index: 999;
  "
>
  <p class="col-md-4 mb-0 text-muted" style="background: white;">© 2019- 2024 Blue Jay PMS</p>
  <ul class="nav col-md-4 justify-content-end">
    <li class="nav-item" style="background: white;">
      <span id="siteseal"
        ><script
          async
          type="text/javascript"
          src="https://seal.godaddy.com/getSeal?sealID=kF8kyYHBK9d4hvYBdssbIxLVK3PHbjGjNx55luBcXTr7b9HOPxN1xFsXArtY"
        ></script>
      </span>
    </li>
  </ul>
</footer>
