<header style="background-color: #1989cf;">
  <nav class="top-0 z-50 w-full px-2 py-2.5" style="position: relative; background-color: #1989cf;">
    <div class="flex flex-wrap justify-between items-center">
      <div class="flex justify-start items-center">
        <a href="#" class="flex">
          <div class="navbar-brand text-white">
            <h1 style="font-size: 22px; font-weight: 500; margin-left: 50px;">COMPANY NAME</h1>
          </div>
        </a>
      </div>
    </div>
  </nav>
</header>
