PORT=xxxxxxxx
GOOGLE_AI_KEY=xxxxxxxx
KEY_FILE_NAME=xxxxxxxx
SECRET_KEY=xxxxxxxx
DB_USERNAME=xxxxxxxx
DB_PASSWORD=xxxxxxxx
DB_DATABASE_DEVELOPMENT=xxxxxxxx
DB_DATABASE_PRODUCTION=xxxxxxxx
DB_HOST=localhost
DB_PORT=3306
DB_DIALECT=mysql
